@page
@model IndexModel


<!-- <div class="jumbotron">
    <h1>.Employee Information</h1>
    <p class="lead">To be modified with database perhaps???</p>
</div> original code-->

<!DOCTYPE html>
<html>

<head>
<title> Fujitsu </title>
</head>

<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Employee Information</h2>

<table style="width:100%">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Employee ID</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Michele</td>
    <td>MaKa</td>
    <td>00F6789</td>
    <td>0032498597939</td>
  </tr>
  <tr>
    <td>Michael</td>
    <td>James</td>
    <td>00F1234</td>
    <td>00324985546218</td>
  </tr>
</table>


</body>
</html>


