@page
@model IndexModel


<!-- <div class="jumbotron">
    <h1>.Employee Information</h1>
    <p class="lead">To be modified with database perhaps???</p>
</div> original code-->

<!DOCTYPE html>
<html>

<head>
<title> Fujitsu </title>
</head>

<style>
table, th, td {
  border:1px solid black;
  width: 100%
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #FF0000;
}

.button3:hover {
  background-color: #FF0000;
  color: white;
}

</style>
<body>

<h2>Employee Information</h2>

<table id="myemployeetable" style="width:100%">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Employee ID</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Michele</td>
    <td>MaKa</td>
    <td>00F6789</td>
    <td>0032498597939</td>
  </tr>
  <tr>
    <td>Michael</td>
    <td>James</td>
    <td>00F1234</td>
    <td>00324985546218</td>
  </tr>
</table>

<button type="button" class="button button1" onclick="myFunction()">Add</button>
<button type="button" class="button button2">Update</button>
<button type="button" class="button button3" onclick="myFunction2()">Delete</button>

<script>
function myFunction() {
  var table = document.getElementById("myemployeetable");
  var row = table.insertRow(1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  cell1.innerHTML = "";
  cell2.innerHTML = "";
  cell3.innerHTML = "";
  cell4.innerHTML = "";
}
</script>

<script>
function myFunction2() {
  var table = document.getElementById("myemployeetable");
  var row = table.deleteRow(1);
}
</script>


</body>
</html>


