@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.Employee Information</h1>
    <p class="lead">To be modified with database perhaps???</p>
</div>
